<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <title>codeBucket</title>
</head>

<body>
  <div class="top-container">
    {{{body}}}
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small dark fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Team codeBucket</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>


</html>