<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <title>codeBucket</title>
</head>

<body>
  <div class="top-container">
    {{{body}}}
  </div>
  <footer class="py-4 bg-dark flex-shrink-0">
    <div class="container text-center">
      <a href="#" class="text-muted">codeBucket was created by the codeBucket Team</a>
    </div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</body>


</html>