<div id="home">
  <div class="row">
    <img src="/img/logo.png" alt="" class="mx-auto d-block">
  </div>
  <div class="row">
    <!-- Search form -->
    <input class="form-control col-8 mx-auto" type="text" placeholder="Search codeBucket" aria-label="Search">
  </div>


</div>