<nav class="navbar ">
  <a class="navbar-brand" href="/">
    <img src="/img/icon.png" width="50px" height="50px" class="d-inline-block align-top text-muted" alt="">
    codeBucket
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search codeBucket" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<h3>Subject</h3>
<ul id="topic-list" class="list-group">
  {{#each subject}}
  <li data-id={{this.id}} class="list-group-item">
    <a href="/topic/subject/{{this.id}}">{{this.subjectName}}</a>
  </li>
  {{/each}}
</ul>
</div>